<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>SchoologyWeb</title>
    </head>
    <body>
        <h1 class="title"><a href="https://schoologyapi.web.app/" style="text-decoration: none;">SchoologyWeb</a></h1>
        <h1><%= requestData.name_display %> - User Profile</h1>
        <div class="data">
            <img src = <%= requestData.picture_url %>></img>
            <h2>Schoology ID: <%= requestData.id %></h2>
            <h2>School Email: <%= requestData.primary_email %></h2>
        </div>
        <div class="footer">
            <p>SchoologyWeb by tree tree t0rr m0uth | <a href="https://github.com/treetreet0rrm0uth/schoologyweb" target="_blank" style="text-decoration: none; color: #fff;">GitHub</a></p>
        </div>
    </body>
</html>